.LeftSideContainer{
  top: 105px;
  position: fixed;
  right: 0px;


}
.wholeContainer{
.TopProfile{
   position: fixed;
   right: 5px;
   top: 5px;
  width: 30%;
  span{
    color: white;
  }
  &:after{
    content: "";
    width: 2px;
    height: 45px;
    background: #696969;
    position: absolute;
    left: 0px;
    top: 5px;
  }
 }
}