.VisitedGrid {
  .ag-theme-balham .ag-rtl .ag-header-cell-label > span {
    color: white;
  }

  .ag-theme-balham.green {
    .ag-root {
      border: none;
    }

    .ag-header {
      background: #52FF46;

    }
  }

  .ag-theme-balham.blue {
    .ag-root {
      border: none;
    }

    .ag-header {
      background: #46A9FF;
    }
  }

  .ag-theme-balham.yellow {
    .ag-root {
      border: none;
    }

    .ag-header {
      background: #FFC146;
    }
  }
}
