.TopBar {
  position: absolute;
  left: 0px;
  top: 15px;
  display: inline-flex;

  .Badge {
    font-size: 10px;
    background: red;
    padding: 0px 6px;
    position: absolute;
    border-radius: 10px;
    top: 15px;
    right: 13px;
  }

  .topBarButton {
    img {
      width: 20px;
      margin-top: 0px;
    }
  }

  .TopIconHolder::after {
    content: '';
    width: 2px;
    height: 45px;
    background: dimgrey;
    position: absolute;
    right: 0px;
    top: -5px;
  }

  .todayHolder {
    position: absolute;
    left: 110%;
    top: 5px;
    color: white;

    .dateHolder {
      padding: 0px;
      position: absolute;
      top: 6px;
    }

    .dateText {
      position: absolute;
      left: 80px;
      top: 4px;
    }

    &::after {
      content: '';
      width: 2px;
      height: 45px;
      background: dimgrey;
      position: absolute;
      right: -130px;
      top: -10px;
    }
  }

  .additionalDataHolder {
    position: absolute;
    left: 500px;
    width: 500px;
    display: inline-flex;
    top: -7px;
  
    span {
      img {
        max-width: 20px;
        margin-top: 15px;
        margin-bottom: -7px;
        margin-left: 5px;
      }
    }

    span.text {
      font-size: 12px;
      color: white;
    }
  }

  .margined {
    margin-left: 40px;
  }
}
