.VisitedListsContainer {
  margin-top: 35px !important;
  margin-right: 15px !important;

  .topBar {
    position: absolute;
    margin-top: -20px;
  }

  .blackText {
    font-size: 15px;
    font-family: ir, serif !important;
    color: #4A4A4A;
    padding: 10px;
  }

  .caretImage {
    max-width: 16px;
    position: absolute;
    margin-right: 80px;
    margin-top: 7px;
  }

  .selectDate {
    cursor: pointer;
  }
}
