
.WhiteContainerHeader {
  width: 100%;
  height: 40px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
  top: 0px;
  background: #F2F2F2;

}

.WhiteContainerTitle {
  position: absolute;
  right: 45px;
  top: -10px;
  text-align: right;
  padding: 0px;
  width: fit-content;
}

.TransparentButton {
  background: transparent;
  border: none;
}

.RefreshButton:focus {
  border: none;
}

.RefreshButton {
  position: absolute !important;
  left: 20px;
  top: 2px;
  padding: 15px;
  color: black !important;
  background-color: transparent !important;
}

.WhiteContainerBody {
  position: absolute;
  padding: 10px;
  top: 40px;
  width: 98%;
  direction: rtl;
}
