.mainPage {
  width: 100%;
  height: 100%;
}
.blackWrapper {
  width: 100%;
  height: 100%;
  background: #4a4a4a;
}
.whiteContainer {
  width: 90%;
  height: 90%;
  background: #ffffff;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 7px #ffffff4a;
}
