.TopProfile_component{
  .bigAvatar{
    width: 60px;
    height: 60px;
  }
  .avatarSpan{
    float: right;
  }

  .MuiSelect-root-27 {
    width: 45%;
    position: relative;
  }
}
.ControlledOpenSelect-formControl-4 {
  margin: 8px;
  min-width: 55px !important;
}
.status{
  position: absolute;
  right: 45px;
  top: 30px;
  label{
    color: #46A9FF;
    font-family: ir;
    font-size: 15px;
  }
  .MuiInput-underline-38:before {

    border-bottom: transparent;
  }
  div[role="button"]{
    color: white;
    font-family: ir;
    color: #46A9FF;
    font-size: 12px;
  }
  .MuiInput-root-34:hover {
    border-bottom: transparent;
  }
  .MuiInput-underline-38:hover:not(.MuiInput-disabled-37):not(.MuiInput-focused-36):not(.MuiInput-error-39):before {
    border-bottom: transparent;
  }
}