.LoginForgot {
  max-height: 100%;
  width: 400px;
  height: 375px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -187.5px;
  margin-left: -200px;
  border-radius: 10px;
  box-shadow: 1px 3px 4px #c3c3c3;

  .submitButton {
    min-width: 80px;
    margin: 15px auto auto;
    background: #47aaff;
    min-height: 33px;

    &:hover {

      background-color: rgba(71, 170, 255, 0.7);

    }

  }

  form {
    display: grid;
    position: absolute;
    min-width: 100%;
    bottom: 10%;

    input {
      border-radius: 10px;
      min-width: 75%;
      margin-right: 10%;
      margin-left: 6%;
      margin-top: 10px !important;
      min-height: 35px;
      border: 1px solid #dddddd;
      padding-right: 10px;

      &::placeholder {
        color: #47aaff;
        font-family: irBold, serif;
      }

      padding-right: 10px;
    }
  }

  .imageHolder {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    top: 70px;

    img {
      width: 50px;

      margin-right: 25px;
    }
  }

  .LoginHeader {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    background: #47aaff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    p {
      text-align: center;
    }
  }

  .forgotQuestion {
    position: absolute;
    bottom: -5px;
    font-size: 10px;
    width: 100%;

    p {
      text-align: center;
      color: #737373;
      cursor: pointer;
    }
  }

  .notLoading {
    p {
      display: block;
      margin: 0;
    }

    img {
      display: none;
    }


  }

  .isLoading {
    p {
      margin: 0;
      display: none;
    }

    img {
      display: block;
      max-width: 60px;
      position: absolute;
    }
  }

  input.is-danger {
    border: 1px solid red;
  }

  .is-danger {
    font-size: 11px;
    text-align: center;
    color: red;
    margin-top: 0px
  }

  p.is-danger {
    position: absolute;
    width: 100%;
    margin-top: -4px;
  }

  label {
    margin-right: 43%;
    color: #47aaff;
    font-size: 14px;

  }

  .pass {
    margin-right: 45%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
