
.MuiButton-root-4 {
  border-radius: 8px;
}

.SubMenuHolder {
  span:not(.SubMenuHolderTitle) {
    color: white !important;
    font-size: 12px;
  }

  .foldable {
    -webkit-transition: height 1s; /* Safari */
    transition: height 1s;

    .active, .blueBackGround {
      width: 110%;
      right: 5%;
      background: #46A9FF;
    }
  }

  display: grid;
  margin-bottom: 10px;

  p {
    margin: 0px;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .show {

    display: grid;
  }

  img {
    float: left;
    width: 25px;
    margin-left: 5px;
    height: 25px;
  }
}

.SubMenuHolderTitle {
  color: #46A9FF !important;

  p {
    margin: 0px;
  }
}
