button{
  font-family: ir;
  font-size: 12px;
  color: white;
  &.active{
    width: 110%;
    right: 5%;
    background: #46A9FF !important;
  }&.notActive{
       background:transparent;
     }
}
.MuiButton-label-2 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  font-family: ir;
  font-size: 12px;
  color: white;
}