.DrugsList {
  .ag-theme-balham .ag-root {
    border: none;
  }

  .ag-header {
    background: #44aaff;
    color: white;
  }

  .addDrug {
    min-width: 100%;
    max-height: 30px;
    margin-top: 3px;
    margin-bottom: 12px;
    background: #47aaff;

    span {
      max-height: 20px;
    }

    p span {
      position: absolute;
      margin-right: -20px;
      margin-top: -5px;
      font-size: 20px;
      text-shadow: 0 0 1px #f5f7f7;
    }

    &:hover {
      background-color: #0091ea;
    }
  }

  .drugSearchInput {
    min-width: 95%;
    margin-top: 3px;

  }

  .drugSearchButton {
    margin-top: 8px !important;
  }

  .ag-center-cols-container {
    transition: top 0.3s ease-out;
  }

  .addDrugContainer {
    min-width: 1200px;
    margin-right: 7px;
  }
}
