.VisitedReports {
  .chartWrapper {
    position: absolute;
    left: 25px;
    top: 120px;

    .recharts-tooltip-wrapper {
      margin-right: 670px !important;
    }
  }


}

.High {
  position: fixed;
  bottom: 0px;
  min-width: 88% !important;
}

.noMargin {
  margin: 0px;
  padding-right: 10px;
}

.highcharts-credits {
  display: none !important;
}
