.PatientsPage {
  .ag-body-horizontal-scroll-viewport {
    overflow-x: hidden;
  }

  .ag-theme-balham .ag-root {
    border: none;
  }

  .filterSelector {
    svg {
      font-size: 14px;
    }

    span[class^="MuiButtonBase"] {
      color: #44aaff !important;
    }
  }

  .patientCard {
    max-width: 85%;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background: #FBFBFB !important;
    border: 1px solid #E1E1E1 !important;
    box-shadow: none !important;
    border-radius: 10px;
    min-height: 165px;
  }

  .ag-theme-balham .ag-row {

    margin-right: -130px;
  }

  .MuiSvgIcon-root-64 {
    width: 0.6em;

  }

  .MuiTypography-body1-313 {
    font-size: 11px !important;
  }

  .ag-theme-balham .ag-header {
    background-color: #46A9FF;
    color: white;
    font-size: 13px;
    font-family: irlight !important;
    border-bottom: none;
    height: 45px !important;
  }

  .yScroller {
    overflow-y: auto;
    min-width: 99%;
    max-height: 390px;
    padding-bottom: 0px;
    padding-right: 10px;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .filterSelector {
    max-height: 40px;
    margin-top: -25px;
    position: absolute;
    margin-top: -40px;
  }

  .rowContainer {
    display: contents;
  }

  .displaySelectText {
    margin-top: -1px;
    padding-right: 12px;
    padding-top: 2px;
    min-height: 40px;
    font-size: 12px;
  }

  .ag-root {
    border: none;
    border-radius: 5px;
  }

  .ag-header-container {
    margin-right: -131px;
  }

  .ag-cell {
    text-overflow: unset;
    overflow: visible;
  }

  #container {
    width: 160px;
    height: 36px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    margin: auto auto auto 10px;
    border: 1px solid #46A9FF;
  }

  .inner-container {
    position: absolute;
    left: 0;
    top: 0.5px;
    width: inherit;
    height: inherit;
    font-size: .6em;
  }

  .inner-container:first-child {
    background: white;
    color: #46a9ff;
    font-size: 9px;
    font-weight: 600;
    font-family: ir, serif;
  }


  .inner-container:nth-child(2) {
    background: #45A7FC;
    color: white;
    clip-path: inset(0 50% 0 0);
    font-size: 12px;
    transition: .3s cubic-bezier(0, 0, 0, 1);
  }

  .toggle {
    width: 50%;
    position: absolute;
    height: inherit;
    left: 0;
    display: flex;
    box-sizing: border-box;
  }

  .toggle p {
    margin: auto;
  }

  .toggle:nth-child(1) {
    right: 0;
  }

  .MuiTypography-body1-313 {
    color: rgba(47, 47, 47, 0.87);
    font-size: 0.875rem;
    font-weight: 600;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.46429em;
  }

  .MuiRadio-colorPrimary-292.MuiRadio-checked-290 {
    color: #46a9ff;
  }

  [col-id="id"] {
    width: 70px !important;
  }

  [col-id="username"] {
    text-align: center !important;
    width: 110px !important;
  }

  [col-id="phone"] {
    text-align: center !important;
    width: 90px !important;
  }

  [col-id="email"] {
    text-align: center !important;
    width: 100px !important;
  }

  .patientCard {
    p {
      margin: 5px 0px !important;
    }

    .MuiButton-text-79 {
      padding: 0px 8px;
    }
  }
}
